*{
    margin: 0;
}
#backgcadas{
    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(image\ 9.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact{
    height: 70vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formslabel{ 
    font-family: "Limelight", sans-serif;
    font-size: 35px;
    color: #FFE500; 
}
.back{ 
    margin-left: -150px;
    opacity: 0;
    font-size: 50px;
}
.button{ 
    height: 40px;
    width: 180px;
    background-color: #ffffff;
    font-size: 25px;
}